---
const { lang } = Astro.props as { lang: 'en' | 'es' };
import ExperienceItem from "./ExperienceItem.astro";
import { experiencesList } from "../i18n/ui"
const EXPERIENCE = experiencesList.map((item) => ({
    lang: lang,
    date: item.date[lang],
    title: item.title[lang],
    description: item.description[lang],
    link: item.link,
  }));
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
