---

import { getLangFromUrl } from "../i18n/utils";
import { footerTexts } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = footerTexts[lang];

---

<footer class="bg-white w-full sm:max-w-full md:max-w-[740px] rounded-lg shadow-sm m-4 dark:bg-gray-800">
  <div
    class="
    w-full mx-auto 
    max-w-screen-xl 
    p-4 
    flex items-center flex-col justify-center
    md:justify-between md:flex-row"
  >
    <span class="text-sm text-gray-100 sm:text-center"
      >© {
        new Date().getFullYear() 
      } <a href="https://flowbite.com/" class="hover:underline"
        >LDev</a
      >. {t.copy}
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-300 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">{t.about}</a>
      </li>
      <li>
        <a href="#" class="hover:underline">{t.contact}</a>
      </li>
    </ul>
  </div>
</footer>
